<div class="card border-primary mb-3">
    <div class="card-header">
        <h3 class="text-center">
            Lista de peliculas
        </h3>
    </div>
    <div class="card-body text-primary">


        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/admin-peliculas/form']">Crear pelicula</button>
        </div>
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>Pelicula</th>
                    <th>Nombre</th>
                    <th>Duracion</th>
                    <th>Precio ticket</th>
                    <th>Habilitado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let pelicula of peliculas ">
                    <td> <img [src]="pelicula.imagen" height="50px" fallimg="default" [alt]="pelicula.nombre"></td>
                    <td> {{pelicula.nombre}}</td>
                    <td> {{pelicula.duracion}}</td>
                    <td> {{pelicula.precioTicket}}</td>
                    <td> {{pelicula.habilitado}}</td>
                    <td>
                        <button type="button" name="button" [routerLink]="['/admin-peliculas/form', pelicula.peliId]" class="btn btn-primary">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="button" (click)='eliminar(pelicula)' class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>